<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
	<div class="navbar-header">
		<a href="#" class="navbar-brand">Project name</a>
	</div>
	<div class="navbar-collapse collapse" id="navbar">
		<ul class="nav navbar-nav">
			{{#link-to "listExample" tagName="li" href=false}}
  			<a {{bind-attr href="view.href"}}>
    			List Example
 				 </a>
			{{/link-to}}
		</ul>
	</div>
</div>
</nav>

<div>
  {{outlet}}
</div>

<footer class="footer">
<div class="container">
<p class="text-muted">Place sticky footer content here.</p>
</div>
</footer>
